@model CCL.Models.Activos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estados.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estados.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoActivo.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoActivo.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.numlegajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.numlegajo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idActivo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
