@model IEnumerable<CCL.Models.Locacion>

@{
    ViewBag.Title = "Index";
}

<h2>Locacion</h2>


<button>
    @Html.ActionLink("Crear", "Create")

</button>
    

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idLocacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.idLocacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idLocacion })
        </td>
    </tr>
}

</table>
